@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/* CSS Document */
body{
	background-color: #161616;
	margin: 0;
	position: absolute;
	width: 100%;
	max-height: 100%;
}
body::after{
	content: "";
	background-color: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
}
.main{
	display: flex;
	flex-direction: column;
}
#header{
	display: flex;
	max-width: 100%;
	padding-top: 30px;
	z-index: 2;
}
#header h1{
	font-family: 'Lilita One', cursive;
	font-weight:10;
	text-align: center;
	color: #FFF;
	width: 200px;
}
.nav{
	display: flex;
	flex-grow: 1;
	align-items: center;
}
.nav ul{
	display: flex;
	width: 96%;
	justify-content: flex-end;
}
.nav ul li{
	display: inline;
	list-style: none;
	width: 100px;
}
.nav ul li a{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #D4D4D4;
	text-decoration: none;
}

.content{
	/*background-color: darkmagenta;*/
	margin-top: 30px;
}
.portfolios{
	/*background-color: aqua;*/
	max-width:800px;
	margin: 0 auto;
}
.table tr{
	max-width: 100%;
}
.table tr td{
	border: 3px solid #A9A9A9;
	border-radius: 1px;
	padding: 30px 0px;
}
.table tr td a{
	font-family: 'Kalam', cursive;
	display: flex;
	color: white;
	font-size: 18px;
	line-height: 25px;
	padding-left: 15px;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
	text-decoration: none;
}
.table tr td:first-child{
	width: 40%;
	text-align: center;
}

.table tr td img{
	padding: 10px;
	max-width: 90%;
	
}
.icon ul{
	display: flex;
	padding-top: 70px;
}
.icon ul li{
	list-style: none;
	font-size: 24px;
	margin: 8px;
	color:#E8E8E8;
}
footer{
	margin-top: -60px;
}

/*===================================*/


@media screen and (max-width:1200px){
	.portfolios{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.table tr{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.icon{
		display: flex;
		justify-content: center;
		padding-right: 48px;
	}
	.table tr td{
		width: 80%;
	}
	.table tr td:first-child{
	width: 80%;
}
}
.tdp{
	color: #FFF;
	text-align: justify;
	margin: 30px;
}
/*@media screen and (max-width:768px){
	.portfolios{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.icon{
		display: flex;
		justify-content: center;
		padding-right: 48px;
	}
}*/
.browser{
	text-align: center;
	width: 25px;
	height: 25px;
	background-image: url("../img/toppng.com-freeicon-isuite-google-chrome-icon-775x775.png");
	background-size: cover;
	object-fit: cover;
	margin-right: 15px;
}