@charset "utf-8";
/* CSS Document */

#Attractions{
	width:100vw;
	height:500px;
	background:#F9F9F9;
	padding-top:50px;
	margin-top:-40px;
}
.attTitle{
	width:600px;
	height:30px;
	background:url(../images/Icon/f1408_2.png) no-repeat;
	background-position:50px 10px;
	padding:15px 0 0 90px;
	color:#FFF;
}
.attContent{
	width:600px;
	height:400px;
	/*background:#099;*/
	margin-left:60px;
	border:5px #D3D3D3 solid;
}

.attContent ul li{
	list-style-type: none;
    background:url(../images/Icon/emoji.png) no-repeat 0rem 0.2rem;
    background-size: 1rem 1rem;
    text-indent: 2em;
	margin-left:-20px;
}

