@charset "utf-8";
/* CSS Document */
#amID{
	background:#F9F9F9;
	width:100vw;
	height:500px;
}
.amLeft{
	width:300px;
	height:400px;
	padding-left:270px;
	padding-top:100px;
	float:left;
}
.amLeftPhoto{
	background:url(../images/Me.jpg) no-repeat;
	width:240px;
	height:270px;
	background-size:240px 270px;
	border-radius:50px;
	margin-top:-10px;
}
.amRightTextOne{
	padding-top:100px;
}
.amRightTextTwo{
	width:90%;
	text-align:justify;
}
.amRightTextThree{
	margin-top:50px;
	border-top:1px #CCC solid;
	font-weight:bold;
	padding-top:10px;
}
.amRight div:first-child{
	font-family:DFKai-sb;
	font-weight:bolder;
	font-size:20px;
	margin-bottom:8px;
}
.amRight div{
	font-family:DFKai-sb;
	font-size:18px;
}